---
layout: default
---
<article class="post-industry-vision">
  <header class="post-header post-header-vision container">
    {% include style-badge.html style="industry-vision" %}
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.tags.size > 0 %}
      <span class="post-meta-sep">·</span>
      <span>{{ page.tags | join: ", " }}</span>
      {% endif %}
    </div>
  </header>
  <div class="post-content container">
    {{ content }}
  </div>
</article>
